<footer>
	<div class="content-padding">
		<div class="footer-content">
		
			<p>Copyright &copy; Tetiana Klymchuk</p>
			
			<div class="social-media-icons">
		
			<a href="#"><i class="fa fa-empire"></a>
			<a href="#"><i class="fa fa-rebel"></a>
		
			</div>
		
		</div>
	</div>
</footer>